/* --- Styles généraux --- */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
}

/* --- En-tête --- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #1a1a1a;
    border-bottom: 1px solid #333;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 150px;
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: #00ffcc;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 50px 80px 50px;
    gap: 50px;
}

.hero-text {
    max-width: 55%;
    margin-top: -50px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.2;
}

.hero h2 {
    font-size: 1.6em;
    margin-bottom: 20px;
    color: #00ffcc;
}

.hero p {
    font-size: 1em;
    color: #ddd;
    line-height: 1.6;
}

.hero-image {
    max-width: 35%;
    text-align: right;
    margin-top: -50px;
}

.hero-img {
    width: 400px; 
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 255, 204, 0.3);
    transition: transform 0.3s;
}

.hero-img:hover {
    transform: scale(1.05);
}

.core-tech {
    text-align: left;
    padding: 60px 20px;
    background-color: #121212;
    margin-top: -50px;
}

.core-tech h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #fff;
    margin-top: -50px;
}

.buttons {
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 10px;
}

.buttons button {
    padding: 10px 20px;
    background-color: #00ffcc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #0f0f0f;
    transition: background-color 0.3s;
    width: 200px;
    height: 30px;
}

.buttons button :hover {
    background-color: #00ddb3;
}

.investors {
    text-align: center;
    padding: 60px 20px;
    background-color: #1a1a1a;
}

.investors h3 {
    font-size: 1.8em;
    margin-bottom: 40px;
    color: #fff;
    margin-top: -270px;
    margin-left: -200px;
}

.logo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 250px;
    flex-wrap: wrap;
}

.logo img{
    max-height: 25px;
    width: auto;
    filter: brightness(0) invert(1);
    transition: transform 0.3;
}

.logo img:hover {
    transform: scale(1.1);
}

